@model TicketManagementSystem.Core.ViewModels.TicketDetailsViewModel

@{
    ViewData["Title"] = "Details";
    int i = 0;
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RefNo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RefNo)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CustomerPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CustomerPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Problem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Problem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.CreatedDate)
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HoursSpent)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HoursSpent)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerPriority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerPriority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RealPriority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RealPriority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DueDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DueDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClosedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastUpdated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastUpdated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponseType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponseType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ResponseDesc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ResponseDesc)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedUser.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssignedUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssignedUser.Id)
            </dd>*@
    </dl>
</div>
@if (Model.Documents != null)
{

    @foreach (var item in Model.Documents)
    {
<dl class="row">
    @if (i == 0)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documents)
        </dt>
    }
    else
    {
        <dt class="col-sm-2">
        </dt>
    }
<dd class="col-sm-4">
    <a asp-controller="Documents" asp-action="Download" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
</dd>

</dl>
        i++;
    }
}
<form asp-action="DetailsDraft">
    <div class="form-group">
        <input name="submit" type="submit" id="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Ticket.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Ticket.Id">Delete</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
